.form-control {
    margin-right: 0px;
}

/* Buttons under new spending form submission*/
.form-buttons {
    margin-top: 30px;
    margin-left: 160px;
}

/* Button to add a category */
.add-category-btn {
    display: block;
    padding-right: 17px;
    margin-top: 15px;
}

/* Button to submit add new spending form*/
.submit-new-spending-btn {
    margin-top: 20px;
    margin-left: -23px;
}

