.spending-entry {
    width: 500px;
}

.spending-entry-info {
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #993366;
    border-color: #993366;
}

.spending-entry-item {
    margin-left: 38px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #ff9966;
    border-color: #ff9966;
}

.item-amount {
    margin-left: 5px;
}

.spending-entry-description {
    text-align: center;
    font-size: 14px;
}